*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "ubuntu", sans-serif;
  color: #212529;
}

:root * {
  font-family: inherit;
}

body {
  height: 100vh;
  transition: background 10s;
}

.work-gradient,
.break-gradient {
  position: fixed;
  height: 100%;
  width: 100%;
  transition: opacity 1s;
}

.work-gradient {
  z-index: 4;
  /* another cool gradient */
  background: linear-gradient(to right, #348f50, #56b4d3);
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.break-gradient {
  z-index: 3;
  /* another cool gradient */
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  background: linear-gradient(to right, #ff4b1f, #ff9068);
}

.initial-menu,
.timer-container {
  transition: opacity 0.4s;
}

.info {
  background-color: #999;
}

.time-selection-form {
  background-color: #bbb;
}

.initial-menu {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
}

.time-selection-form {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.7em 1em;
  border-radius: 0.3em;

  background: linear-gradient(to right, #f37335, #fdc830);
  background-color: white;
}

.time-selection-form-top {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.begin-button {
  font-size: 1.1rem;
  padding: 0.45em 1.2em;
  text-transform: uppercase;
}

.time-selection-form select {
  font-size: 1rem;
  padding: 0.15em 0.3em;
}

.initial-menu--hidden {
  opacity: 0%;
}

/* TODO: structure the code in such a way that this selector defines the ems value so that the whole component can be easily resized */
.timer-container {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
}

.timer-container--hidden {
  opacity: 0%;
}

.time {
  font-size: 15rem;
}

.time-progress {
  height: 0.15em;
  background-color: #212529;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.1s;
}

ion-icon {
  font-size: 1.8rem;
}

.timer-container button {
  border: none;
  margin-right: 1em;
  border-radius: 50%;
  padding: 0.35em;
}

.time-control-buttons > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.timer-container-top {
  display: flex;
  justify-content: space-between;
}

button:hover,
select:hover {
  cursor: pointer;
}

.pomodoro-count {
  display: flex;
  align-items: center;
  background-color: white;
  font-size: 1.4rem;
  padding: 0.1em 0.5em;
  border-radius: 10em;
}

.state-indicator {
  z-index: 6;
  font-size: 5rem;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -1000%);
  pointer-events: none;
}

.state-indicator--anim{
  animation: state-animation 3s forwards;
}

@keyframes state-animation {
/*   0% {
    transform: translate(-50%, -1000%);
  }
  30%,
  60% {
    transform: translate(-50%, -400%);
  }
  50% {
    transform: translate(-50%, -400%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -1000%);
  } */

/*   0% {
    top: -10%;
  }
  30%,
  60% {
    top: 15%;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    top: -10%;
  } */
  0% {
    transform: translate(-50%, -100vh);
  }
  30%,
  60% {
    transform: translate(-50%, -43vh);
  }
  50% {
    transform: translate(-50%, -43vh) scale(1.2);
  }
  100% {
    transform: translate(-50%, -100vh);
  }
}
